<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.askmeOffers.BreakingNewsPage"/>
      <class name="com.askmeOffers.HomePage"/>
      <class name="com.askmeOffers.HomepageSearch"/>
      <class name="com.askmeOffers.AboutUsPage"/>
      <class name="com.askmeOffers.OurHistoryPage"/>
      <class name="com.askmeOffers.navigateToTechPage"/>
      <class name="com.askmeOffers.EcommerceNewsPage"/>
      <class name="com.askmeOffers.Myntra"/>
      <class name="com.askmeOffers.HealthPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
